.board{
    padding-right:20px;
    padding-left:20px;
}
.board__column-wrap{
    display: inline-block;
    vertical-align: top;
}
.board__column-wrap+.board__column-wrap{
    margin-left:10px;
}

.board__columns{
    /*display: flex;*/
    /*margin-right:-5px;*/
    /*margin-left:-5px;*/
    /*align-items:flex-start;*/
}

.board__name{
    opacity: 0.8;
    margin-bottom:0;
    text-transform: uppercase;
    font-size:20px;
    padding-bottom:20px;
}