.board{
    padding-right:20px;
    padding-left:20px;
}
.board__columns-wrap{
    padding-right:5px;
    padding-left:5px;
}

.board__columns{
    display: flex;
    margin-right:-5px;
    margin-left:-5px;
}

.board__name{
    opacity: 0.8;
    margin-bottom:0;
    text-transform: uppercase;
    font-size:20px;
    padding-bottom:20px;
}