.board{
    /*padding-right:20px;*/
    /*padding-left:20px;*/
    padding-top: 50px;
    padding-bottom: 40px;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
}

.board__picto-button{
    position: absolute;
    right:20px;
}

.board__scroll-wrapper{
    height: 500px;
    width:100%;
}

.board__column-wrap{
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    padding-right:5px;

}

.board__favorite{
    margin-left:20px;
}

.board__columns{
    white-space: nowrap;
    padding-right:10px;
    padding-left:10px;
    /*width: 3000px;*/
}

.board__head{
    display: flex;
    align-items:center;
    padding-left:10px;
    padding-top:15px;
    padding-bottom:20px;
}

.board__name{
    opacity: 0.8;
    text-transform: uppercase;
    font-size:20px;
    margin-top:0;
    margin-bottom:0;
    color:#fff;
}