.board-list {

    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.board-list__close {
    position: absolute;
    right: 8px;
    top: 6px;
}

.board-list__card {
    margin-right: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-list > * {
    width: 25%;
}

.board-list-container__title {
    margin-bottom: 0;
}

.board-list-container {
    padding-top: 50px;
    height: 100vh;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.board-list__item-wrap {
    box-sizing: border-box;
    padding: 15px;

}

.board-list__item {
    position: relative;
    display: block;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom:40px;
    padding-left: 10px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 300ms, box-shadow 300ms;
    cursor: pointer;
}

.board-list__item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.85);
}

.board-list__add-button {
    display: block;
    border: none;
    padding: 10px;
    padding-bottom:30px;
    letter-spacing:1px;
    text-transform: uppercase;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    color:#fff;
    font-size:13px;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 300ms, box-shadow 300ms;
    outline: none;
}

.board-list__add-button:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
