.btn-close{
    padding:5px 10px;
    border: none;
    border-radius:3px;
    background-color: #fd3030;
    box-shadow: 0 1px 0 #730303;
    font-weight:bold;
    line-height:1;
    color: #2f0707;

    font-size:16px;
    opacity: 0.8;
    transition: opacity 300ms;
}

.btn-close:hover{
    /*opacity: 0.9;*/
    cursor: pointer;
}
