.column{
    background-color: rgba(255, 255, 255, 0.7);
    width:300px;
    padding:10px;
    border-radius:2px;
    /*box-shadow: inset hoff voff blur color;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}