.dragged-card-wrap{
    width:280px;
    position: fixed;
    transition: transform 300ms;
    /*transition: transform 300ms, top 100ms linear, left 100ms linear;*/
    /*transform: rotateZ(0);*/
    transform-origin:50% 0 ;
    transform: rotateZ(-3deg);
    will-change: top, left;
    box-sizing: border-box;
    background-color: #fff;
    border-radius:3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.dragged-card-wrap .card{
    margin-bottom:0;
}

.dragged-card-wrap--activate-transition{
    transition: transform 300ms, top 80ms linear, left 80ms linear;
}

/*.dragged-column-wrap{*/

/*}*/