.picto-button{
    display: inline-flex;
    justify-content:center;
    align-items:center;
    padding:0;
    min-height:30px;
    min-width:60px;
    color: rgba(0, 0, 0, 0.8) ;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    font-size:18px;
    background-color: rgba(255, 255, 255, 0.6) ;
    border-radius:3px;
    border: none;
    cursor: pointer;
    transition: background-color 300ms;
}

.picto-button:hover{
    background-color: rgba(255, 255, 255, 0.75) ;
}

.picto-button + .picto-button{
    margin-left:10px;
}