.popup{
    position: fixed;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index:100;
    /*opacity:0;*/
    /*transition: opacity 400ms linear;*/
}
.popup--showed{
    /*z-index:1;*/
    /*opacity:1;*/
    /*transition: opacity 600ms linear;*/
    display: block;
}

.popup__conteiner{
    position: absolute;
    top:50%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width:600px;
    max-width: 80%;
    border-radius: 4px;
    /*opacity:0;*/
    /*transition: opacity 300ms linear;*/
}

.popup__conteiner--small{
    width:400px;
}

/*.popup__conteiner--showed{*/
    /*opacity:1;*/
    /*transition: opacity 500ms linear;*/
/*}*/
.popup__title{
    margin:0;
}

.popup__header{
    padding-right:50px;
    padding-left:10px;
    padding-top:20px;
}

.popup__btn-close{
    position: absolute;
    right:10px;
    top: 10px
}

.popup__content{
    padding:10px;
}