.sidebar{
    position: fixed;
    left:0;
    top:50px;
    bottom:0;
    width:400px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    transform: translateX(-110%);
    transition: transform 400ms;
    z-index:1;
}

.sidebar--opened{
    transform: translateX(0);
}

.sidebar__scroll-container{
    padding:10px;
}

.sidebar__scroll-container .scroll-inner{
    padding-right:15px;
    box-sizing: border-box;
}

.sidebar__title{
    margin-bottom:8px;
}

.sidebar__title .fa{
    font-size:16px;
    margin-left:2px;
}

.sidebar__input{
    width:100%;
    border: 1px solid #ccc;
    padding:8px 15px ;
    border-radius:2px;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.sidebar__input--active{
    margin-bottom:15px;
}